/* -- Reset -- */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

*:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, button, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, hr, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  font-size: 100%;
  font: inherit;
  border: 0;
  vertical-align: baseline;
  padding: 0;
  margin: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, img {
  display: block;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a, a:hover, a:focus, a:active, button, select, option {
  cursor: pointer;
  text-decoration: none;
  outline: none;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

svg {
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

input, textarea {
  outline: none;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

input::-moz-placeholder, textarea::-moz-placeholder {
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

input::placeholder, textarea::placeholder {
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

/* -- End Reset -- */
/* -- Fonts -- */
@font-face {
  font-family: "Helvetica";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  text-rendering: optimizeLegibility;
  src: url("../fonts/HelveticaRegular/HelveticaRegular.woff") format("woff"), url("../fonts/HelveticaRegular/HelveticaRegular.ttf") format("truetype");
}

@font-face {
  font-family: "Helvetica";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  text-rendering: optimizeLegibility;
  src: url("../fonts/HelveticaBold/HelveticaBold.woff") format("woff"), url("../fonts/HelveticaBold/HelveticaBold.ttf") format("truetype");
}

/* -- End Fonts -- */
/* -- Preloader -- */
.preloader {
  position: fixed;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: inherit;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100vh;
  background: linear-gradient(135deg, #601dc0, #2f0a64);
  background-size: 200% 200%;
  -webkit-animation: Gradient 5s ease infinite;
          animation: Gradient 5s ease infinite;
  z-index: 9999;
}

.preloader-logo {
  width: 70px;
  height: 70px;
}

.preloader-logo path {
  fill: transparent;
}

.preloader-logo polygon {
  fill: transparent;
  stroke: #fff;
  stroke-width: .5;
  stroke-dasharray: 10;
  -webkit-animation: dashRotate 2s linear infinite alternate;
          animation: dashRotate 2s linear infinite alternate;
}

@-webkit-keyframes dashRotate {
  100% {
    stroke-dashoffset: 30;
  }
}

@keyframes dashRotate {
  100% {
    stroke-dashoffset: 30;
  }
}

@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* -- Preloader -- */
/* -- General -- */
html {
  overflow-x: hidden;
  width: 100vw;
}

body {
  position: relative;
  font: 16px "Helvetica", sans-serif;
  color: #000;
  background: #fff;
  overflow: hidden;
}

.container {
  max-width: 1090px;
  padding: 0 15px;
  margin: 0 auto;
}

.hidden {
  display: none;
}

/* -- End General -- */
/* -- Header -- */
.head {
  position: fixed;
  top: -100%;
  right: 0;
  left: 0;
  background: #fff;
  -webkit-box-shadow: 0 0 30px -10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 30px -10px rgba(0, 0, 0, 0.5);
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  z-index: 999;
}

.head-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 60px;
}

.head-tools {
  position: absolute;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  right: 0;
  width: 110px;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  padding: 0 20px;
}

.head-tools-icon {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 24px;
  height: 24px;
}

.head-tools-icon:hover svg {
  fill: #601dc0;
}

.head-tools-icon:not(:last-child) {
  margin: 0 15px 0 0;
}

.head-tools-icon:nth-child(2) svg {
  width: 20px;
  height: 20px;
}

.head-tools-icon svg {
  width: 18px;
  height: 18px;
  fill: #7c7c7c;
}

.head-search.is-active svg {
  fill: #601dc0;
}

.head-notify, .head-mail {
  display: none;
}

.head-notify:after, .head-mail:after {
  content: '';
  position: absolute;
  top: 1px;
  right: -1px;
  width: 8px;
  height: 8px;
  border: 0px solid #ff0000;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  -webkit-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
}

.head-notify.is-active, .head-mail.is-active {
  -webkit-animation: vibrationIn .8s linear;
          animation: vibrationIn .8s linear;
  -webkit-animation-delay: .1s;
          animation-delay: .1s;
}

.head-notify.is-active:after, .head-mail.is-active:after {
  border: 4px solid #ff0000;
}

@-webkit-keyframes vibrationIn {
  0% {
    -webkit-transform: rotate(-15deg);
            transform: rotate(-15deg);
  }
  10% {
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }
  20% {
    -webkit-transform: rotate(-18deg);
            transform: rotate(-18deg);
  }
  30% {
    -webkit-transform: rotate(18deg);
            transform: rotate(18deg);
  }
  40% {
    -webkit-transform: rotate(-22deg);
            transform: rotate(-22deg);
  }
  50% {
    -webkit-transform: rotate(22deg);
            transform: rotate(22deg);
  }
  60% {
    -webkit-transform: rotate(-18deg);
            transform: rotate(-18deg);
  }
  70% {
    -webkit-transform: rotate(18deg);
            transform: rotate(18deg);
  }
  80% {
    -webkit-transform: rotate(-12deg);
            transform: rotate(-12deg);
  }
  90% {
    -webkit-transform: rotate(12deg);
            transform: rotate(12deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes vibrationIn {
  0% {
    -webkit-transform: rotate(-15deg);
            transform: rotate(-15deg);
  }
  10% {
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }
  20% {
    -webkit-transform: rotate(-18deg);
            transform: rotate(-18deg);
  }
  30% {
    -webkit-transform: rotate(18deg);
            transform: rotate(18deg);
  }
  40% {
    -webkit-transform: rotate(-22deg);
            transform: rotate(-22deg);
  }
  50% {
    -webkit-transform: rotate(22deg);
            transform: rotate(22deg);
  }
  60% {
    -webkit-transform: rotate(-18deg);
            transform: rotate(-18deg);
  }
  70% {
    -webkit-transform: rotate(18deg);
            transform: rotate(18deg);
  }
  80% {
    -webkit-transform: rotate(-12deg);
            transform: rotate(-12deg);
  }
  90% {
    -webkit-transform: rotate(12deg);
            transform: rotate(12deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

/* -- End Header -- */
/* -- Nav -- */
.nav {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: -webkit-calc(var(--vh, 1vh) * 100);
  height: calc(var(--vh, 1vh) * 100);
  background: #fff;
  overflow: hidden;
  visibility: hidden;
  -webkit-transform: translateY(100%);
      -ms-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  padding: 0 15px 63px;
  z-index: 999;
}

.nav.is-open {
  visibility: visible;
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}

.nav.is-open .nav-head {
  opacity: 1;
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition-delay: .1s;
          transition-delay: .1s;
}

.nav.is-open .nav-close {
  opacity: 1;
  -webkit-transform: rotate(0);
      -ms-transform: rotate(0);
          transform: rotate(0);
  -webkit-transition-delay: .2s;
          transition-delay: .2s;
}

.nav.is-open .nav-overflow {
  opacity: 1;
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition-delay: .1s;
          transition-delay: .1s;
}

.nav-head {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  opacity: 0;
  -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  padding: 10px 0 21px;
}

.nav-head:after {
  content: '';
  position: absolute;
  top: 0;
  right: -15px;
  bottom: -43px;
  left: -15px;
  background: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-border-radius: 0 0 10px 10px;
          border-radius: 0 0 10px 10px;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  z-index: -1;
}

.nav-head.is-active {
  z-index: 10;
}

.nav-head.is-active:after {
  background: #f9f9f9;
  -webkit-box-shadow: 0 0 20px -5px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 20px -5px rgba(0, 0, 0, 0.5);
}

.nav-head.is-active + .nav-overflow .nav-search {
  margin: 12px 0 0;
}

.nav-head.is-active .nav-head-back {
  right: 0;
  left: 0;
}

.nav-head-back {
  position: absolute;
  right: -webkit-calc(-100% - 15px);
  right: calc(-100% - 15px);
  bottom: -43px;
  left: -webkit-calc(100% + 15px);
  left: calc(100% + 15px);
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.nav-head-back .nav-menu-back {
  opacity: 1;
}

.nav-close {
  display: block;
  width: 13px;
  height: 13px;
  opacity: 0;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.nav-close:hover svg {
  fill: #601dc0;
}

.nav-close svg {
  width: 100%;
  height: 100%;
}

.nav-logo {
  display: block;
  width: 104px;
}

.nav-logo img {
  width: 100%;
}

.nav-user {
  display: block;
  width: 16px;
  height: 18px;
  background: url("../img/icons/user.svg") no-repeat center;
}

.nav-overflow {
  overflow-x: hidden;
  height: -webkit-calc((var(--vh, 1vh) * 100) - 118px);
  height: calc((var(--vh, 1vh) * 100) - 118px);
  opacity: 0;
  -webkit-transform: translateY(100%);
      -ms-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  padding: 0 15px;
  margin: 0 -15px;
}

.nav-wrap {
  position: relative;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.nav-menu, .nav-submenu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  z-index: 1;
}

.nav-menu.is-out, .nav-submenu.is-out {
  -webkit-transform: translateX(-webkit-calc(-100% - 15px));
      -ms-transform: translateX(calc(-100% - 15px));
          transform: translateX(calc(-100% - 15px));
}

.nav-menu.is-hidden, .nav-submenu.is-hidden {
  opacity: 0;
  -webkit-transform: translateX(-webkit-calc(100% + 15px));
      -ms-transform: translateX(calc(100% + 15px));
          transform: translateX(calc(100% + 15px));
}

.nav-menu.is-active, .nav-submenu.is-active {
  right: -webkit-calc(-100% - 15px);
  right: calc(-100% - 15px);
  left: -webkit-calc(100% + 15px);
  left: calc(100% + 15px);
  opacity: 1;
  z-index: 2;
}

.nav-menu.is-active .nav-menu-item:first-child .nav-menu-link, .nav-submenu.is-active .nav-menu-item:first-child .nav-menu-link {
  border-bottom: 1px solid transparent;
}

.nav-menu-item {
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.nav-menu-item:not(:last-child) .nav-menu-link {
  border-bottom: 1px solid #f0f0f0;
}

.nav-menu-item.has-child > .nav-menu-link:hover .nav-menu-arrow svg {
  fill: #601dc0;
}

.nav-menu-item.has-child > .nav-menu-link .nav-menu-arrow {
  right: 0;
  left: auto;
  -webkit-transform: none;
      -ms-transform: none;
          transform: none;
}

.nav-menu-item.has-child > .nav-menu-link .nav-menu-arrow svg {
  fill: #666;
}

.nav-menu-more {
  display: none;
}

.nav-menu-link {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 43px;
  color: #000;
  font-size: 14px;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  padding: 15px 0 14px;
}

.nav-menu-link:hover {
  color: #601dc0;
}

.nav-menu-link:hover svg {
  fill: #601dc0;
}

.nav-menu-back {
  opacity: 0;
  padding: 15px 0 14px 30px;
}

.nav-menu-arrow {
  position: absolute;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: -webkit-calc(50% - (24px / 2));
  top: calc(50% - (24px / 2));
  left: 0;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.nav-menu-arrow svg {
  width: 12px;
  height: 12px;
}

.nav-submenu .nav-menu-item:last-child .nav-menu-link {
  border-bottom: 1px solid transparent;
}

.nav-search {
  position: relative;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  margin: 11.5px 0 0;
  z-index: 2;
}

.nav-search-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 39px;
}

.nav-search-input {
  -webkit-box-flex: 2;
  -webkit-flex-grow: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  width: 50%;
  height: 100%;
  font-size: 14px;
  color: #000;
  background: #f9f9f9;
  border: 1px solid #f0f0f0;
  border-right: none;
  -webkit-border-radius: 6px 0 0 6px;
          border-radius: 6px 0 0 6px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 0 15px;
}

.nav-search-input::-webkit-input-placeholder {
  color: #e9e9e9;
}

.nav-search-input::-moz-placeholder {
  color: #e9e9e9;
}

.nav-search-input:-ms-input-placeholder {
  color: #e9e9e9;
}

.nav-search-input::placeholder {
  color: #e9e9e9;
}

.nav-search-input:focus::-webkit-input-placeholder {
  color: transparent;
}

.nav-search-input:focus::-moz-placeholder {
  color: transparent;
}

.nav-search-input:focus:-ms-input-placeholder {
  color: transparent;
}

.nav-search-input:focus::placeholder {
  color: transparent;
}

.nav-search-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 41px;
  height: 100%;
  background: #601dc0;
  border: none;
  -webkit-border-radius: 0 6px 6px 0;
          border-radius: 0 6px 6px 0;
}

.nav-search-btn:hover {
  background: #451788;
}

.nav-search-btn svg {
  width: 18px;
  height: 18px;
  fill: #fff;
}

/* -- End Nav -- */
/* -- Main -- */
.main {
  position: relative;
  display: block;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  padding: 30px 0 70px;
}

.main h1 {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.4;
  margin: 0 0 15px;
}

.main p {
  line-height: 1.5;
}

.main-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 215px;
  height: 34px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: .2px;
  color: #666;
  background: transparent;
  border: 2px solid #e9e9e9;
  -webkit-border-radius: 17px;
          border-radius: 17px;
  margin: 15px 0 0;
}

.main-btn:hover {
  color: #601dc0;
  border: 2px solid #601dc0;
}

/* -- End Main -- */
/* -- Toolbar -- */
.toolbar {
  position: fixed;
  right: 0;
  bottom: -48px;
  left: 0;
  height: 48px;
  background: #fff;
  border-top: 1px solid #979797;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  padding: 0 15px;
  z-index: 999;
}

.toolbar.is-animate {
  bottom: 0;
}

.toolbar.is-animate .toolbar-list-item:nth-child(1) {
  opacity: 1;
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition-delay: .2s;
          transition-delay: .2s;
}

.toolbar.is-animate .toolbar-list-item:nth-child(2) {
  opacity: 1;
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition-delay: .3s;
          transition-delay: .3s;
}

.toolbar.is-animate .toolbar-list-item:nth-child(3) {
  opacity: 1;
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition-delay: .4s;
          transition-delay: .4s;
}

.toolbar.is-animate .toolbar-list-item:nth-child(4) {
  opacity: 1;
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition-delay: .5s;
          transition-delay: .5s;
}

.toolbar.is-animate .toolbar-list-item:nth-child(5) {
  opacity: 1;
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition-delay: .6s;
          transition-delay: .6s;
}

.toolbar-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  padding: 6px 0;
}

.toolbar-list-item {
  opacity: 0;
  -webkit-transform: translateY(10px);
      -ms-transform: translateY(10px);
          transform: translateY(10px);
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.toolbar-list-item:nth-child(1) .toolbar-list-icon, .toolbar-list-item:nth-child(5) .toolbar-list-icon {
  width: 16.5px;
  height: 16.5px;
}

.toolbar-list-item:nth-child(4) .toolbar-list-icon {
  width: 17px;
  height: 17px;
}

.toolbar-list-link {
  color: #666666;
  font-size: 10px;
  text-align: center;
}

.toolbar-list-link:hover, .toolbar-list-link.is-active {
  color: #601dc0;
}

.toolbar-list-link:hover .toolbar-list-icon svg, .toolbar-list-link.is-active .toolbar-list-icon svg {
  fill: #601dc0;
}

.toolbar-list-icon {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 19px;
  height: 19px;
  margin: 0 auto;
}

.toolbar-list-icon svg {
  width: 18.3px;
  height: 18.3px;
  fill: #666666;
}

.toolbar-list-text {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 12px;
  margin: 3.45px 0 0;
}

/* -- End Toolbar -- */
/* -- Modal -- */
.modal-success {
  position: fixed;
  display: none;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100vw;
  z-index: 9999;
}

.modal-success.is-open .modal-success-wrap {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.modal-success.is-open .modal-success-check {
  fill-opacity: 0;
  stroke: #20a94a;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  animation-iteration: 1;
  -webkit-animation-name: drawIn, fadeIn, fillIn;
          animation-name: drawIn, fadeIn, fillIn;
  -webkit-animation-duration: 3s, 1s, 1s;
          animation-duration: 3s, 1s, 1s;
  -webkit-animation-delay: 0s, .3s, .3s;
          animation-delay: 0s, .3s, .3s;
}

.modal-success-overlay {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
}

.modal-success-wrap {
  position: relative;
  width: 100%;
  text-align: center;
  background: #fff;
  -webkit-border-radius: 8px;
          border-radius: 8px;
  -webkit-box-shadow: 0 0 30px -10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 30px -10px rgba(0, 0, 0, 0.5);
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  padding: 30px 15px;
  margin: 0 15px;
}

.modal-success-title {
  color: #181818;
  font-size: 22px;
  font-weight: 700;
  line-height: 1.2;
}

.modal-success-icon {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 55px;
  height: 55px;
  margin: 15px auto;
}

.modal-success-icon svg {
  width: 50px;
  height: 50px;
}

.modal-success-round {
  fill: #ddd;
}

.modal-success-check {
  fill: #20a94a;
  stroke-width: 1;
  stroke-dashArray: 1100;
  stroke-dashoffset: 1100;
}

.modal-success-subtitle {
  max-width: 250px;
  color: #95999f;
  font-size: 14px;
  line-height: 1.25;
  margin: 0 auto;
}

.modal-success-close {
  position: absolute;
  top: -25px;
  right: 0;
  width: 15px;
  height: 15px;
}

.modal-success-close:hover svg {
  fill: #601dc0;
}

.modal-success-close svg {
  width: 100%;
  height: 100%;
  fill: #fff;
}

@-webkit-keyframes drawIn {
  100% {
    stroke-dashOffset: 0;
  }
}

@keyframes drawIn {
  100% {
    stroke-dashOffset: 0;
  }
}

@-webkit-keyframes fadeIn {
  100% {
    stroke-opacity: 0;
  }
}

@keyframes fadeIn {
  100% {
    stroke-opacity: 0;
  }
}

@-webkit-keyframes fillIn {
  0% {
    fill-opacity: 0;
  }
  100% {
    fill-opacity: 1;
  }
}

@keyframes fillIn {
  0% {
    fill-opacity: 0;
  }
  100% {
    fill-opacity: 1;
  }
}

/* -- End Modal -- */
/* -- Responsive -- */
@media only screen and (min-width: 768px) {
  .container {
    width: auto;
  }
}

@media only screen and (min-width: 1100px) {
  .container {
    max-width: 990px;
    padding: 0 55px;
  }
  .head {
    top: 0;
  }
  .nav {
    position: static;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    height: auto;
    overflow: visible;
    visibility: visible;
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
    padding: 0;
    z-index: auto;
  }
  .nav.is-open {
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
  }
  .nav.is-open .nav-head {
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
  }
  .nav-head {
    position: static;
    opacity: 1;
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
    padding: 0;
  }
  .nav-head:after {
    top: 100%;
    right: 0;
    bottom: -100vh;
    left: 0;
    opacity: 0;
    visibility: hidden;
    -webkit-backdrop-filter: blur(2px);
            backdrop-filter: blur(2px);
  }
  .nav-head.is-active {
    z-index: auto;
  }
  .nav-head.is-active:after {
    background: rgba(12, 15, 22, 0.5);
    -webkit-box-shadow: none;
            box-shadow: none;
    opacity: 1;
    visibility: visible;
  }
  .nav-head-back {
    display: none;
  }
  .nav-close {
    display: none;
  }
  .nav-logo {
    position: relative;
    width: 130px;
    z-index: 1;
  }
  .nav-user {
    position: absolute;
    right: 20px;
    width: 30px;
    height: 30px;
    z-index: 1;
  }
  .nav-overflow {
    position: relative;
    overflow: visible;
    height: auto;
    opacity: 1;
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
    padding: 0;
    margin: 0;
  }
  .nav-wrap {
    min-height: auto !important;
  }
  .nav-menu {
    position: static;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: auto;
  }
  .nav-menu:before {
    content: '';
    position: absolute;
    top: 0;
    right: -50px;
    bottom: 0;
    left: -50px;
    background: #fff;
    -webkit-border-radius: 8px;
            border-radius: 8px;
    z-index: 0;
  }
  .nav-menu-item {
    position: relative;
  }
  .nav-menu-item:hover > .nav-submenu {
    -webkit-box-shadow: 0 0 30px -10px rgba(0, 0, 0, 0.5);
            box-shadow: 0 0 30px -10px rgba(0, 0, 0, 0.5);
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
  }
  .nav-menu-item:not(:last-child) {
    padding: 0 18px 0 0;
  }
  .nav-menu-item:not(:last-child) .nav-menu-link {
    border: none;
  }
  .nav-menu-item.is-hover > .nav-menu-link {
    color: #000;
  }
  .nav-menu-item.is-hover > .nav-menu-link svg {
    fill: #000;
  }
  .nav-menu-item.is-hover > .nav-menu-link .nav-menu-text:after {
    right: 0;
  }
  .nav-menu-more {
    display: block;
  }
  .nav-menu-more > .nav-menu-link .nav-menu-text:after {
    display: none;
  }
  .nav-menu-more > .nav-submenu {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    left: auto;
    right: 0;
    padding: 0 20px;
    z-index: -1;
  }
  .nav-menu-more > .nav-submenu .nav-menu-item:hover > .nav-submenu {
    top: -webkit-calc(100% + 10px);
    top: calc(100% + 10px);
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
  }
  .nav-menu-more > .nav-submenu .nav-menu-item:not(:last-child) {
    padding: 0 20px 0 0;
  }
  .nav-menu-more > .nav-submenu .nav-menu-link {
    min-width: 100%;
    line-height: 1;
    padding: 0;
  }
  .nav-menu-more > .nav-submenu .nav-menu-text {
    padding: 15px 0;
  }
  .nav-menu-more > .nav-submenu .nav-menu-arrow {
    display: none;
  }
  .nav-menu-more > .nav-submenu .nav-submenu {
    top: -webkit-calc(100% + 25px);
    top: calc(100% + 25px);
    right: auto;
    left: 0;
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
    padding: 20px 40px 20px 30px;
  }
  .nav-menu-more > .nav-submenu .nav-submenu:after {
    top: -100%;
    left: 0;
  }
  .nav-menu-more > .nav-submenu .nav-submenu .nav-menu-item:not(:last-child) {
    padding: 0;
  }
  .nav-menu-more > .nav-submenu .nav-submenu .nav-menu-link {
    min-width: 130px;
    line-height: 2.13;
  }
  .nav-menu-more > .nav-submenu .nav-submenu .nav-menu-text {
    padding: 0;
  }
  .nav-menu-link {
    height: auto;
    font-size: 16px;
    text-transform: none;
    color: #7c7c7c;
    border: none;
    padding: 0;
    z-index: 1;
  }
  .nav-menu-link:hover {
    color: #000;
  }
  .nav-menu-link:hover svg {
    fill: #000;
  }
  .nav-menu-link:hover .nav-menu-text:after {
    right: 0;
  }
  .nav-menu-icon {
    display: block;
    width: 14px;
    height: 14px;
    margin: 0 6px 0 0;
  }
  .nav-menu-icon svg {
    width: 100%;
    height: 100%;
    fill: #7c7c7c;
  }
  .nav-menu-text {
    position: relative;
    display: block;
    padding: 22px 0;
  }
  .nav-menu-text:after {
    content: '';
    position: absolute;
    right: 100%;
    bottom: 0;
    left: 0;
    height: 2px;
    background: #601dc0;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
  }
  .nav-menu-arrow {
    display: none;
    right: 30px;
    left: auto;
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
  }
  .nav-submenu {
    top: -webkit-calc(100% + 10px);
    top: calc(100% + 10px);
    width: auto;
    height: auto;
    background: #fff;
    -webkit-border-radius: 8px;
            border-radius: 8px;
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translateY(-webkit-calc(-100% - 70px));
        -ms-transform: translateY(calc(-100% - 70px));
            transform: translateY(calc(-100% - 70px));
    padding: 20px 0;
    z-index: -1;
  }
  .nav-submenu:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #fff;
    -webkit-border-radius: 8px;
            border-radius: 8px;
    z-index: 0;
  }
  .nav-submenu:after {
    content: '';
    position: absolute;
    top: -100%;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: -1;
  }
  .nav-submenu .nav-menu-item:hover > .nav-submenu {
    -webkit-box-shadow: 0 0 30px -10px rgba(0, 0, 0, 0.5);
            box-shadow: 0 0 30px -10px rgba(0, 0, 0, 0.5);
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateX(100%);
        -ms-transform: translateX(100%);
            transform: translateX(100%);
  }
  .nav-submenu .nav-menu-item:first-child {
    display: none;
  }
  .nav-submenu .nav-menu-item:not(:last-child) {
    padding: 0;
  }
  .nav-submenu .nav-menu-item:last-child .nav-menu-link {
    border: none;
  }
  .nav-submenu .nav-menu-link {
    min-width: 100px;
    white-space: nowrap;
    line-height: 2.13;
    padding: 0 70px 0 30px;
  }
  .nav-submenu .nav-menu-text {
    padding: 0;
  }
  .nav-submenu .nav-menu-arrow {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .nav-submenu .nav-submenu {
    top: -20px;
    right: -10px;
    left: auto;
    -webkit-transform: translateX(-10px);
        -ms-transform: translateX(-10px);
            transform: translateX(-10px);
    padding: 20px 22px 20px 30px;
  }
  .nav-submenu .nav-submenu:after {
    top: 0;
    left: -100%;
  }
  .nav-submenu .nav-submenu .nav-menu-link {
    padding: 0;
  }
  .nav-search {
    position: absolute;
    top: 100%;
    right: 0;
    left: 30px;
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translateY(-webkit-calc(-100% - 60px));
        -ms-transform: translateY(calc(-100% - 60px));
            transform: translateY(calc(-100% - 60px));
    margin: 0;
    z-index: -1;
  }
  .nav-search.is-active {
    -webkit-box-shadow: 0 0 30px -10px rgba(0, 0, 0, 0.5);
            box-shadow: 0 0 30px -10px rgba(0, 0, 0, 0.5);
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
  }
  .nav-search-form {
    height: 46px;
  }
  .nav-search-input {
    font-size: 16px;
    background: #fff;
    border: none;
    -webkit-border-radius: 0 8px 8px 0;
            border-radius: 0 8px 8px 0;
    padding: 0 5px;
  }
  .nav-search-input::-webkit-input-placeholder {
    color: #7c7c7c;
  }
  .nav-search-input::-moz-placeholder {
    color: #7c7c7c;
  }
  .nav-search-input:-ms-input-placeholder {
    color: #7c7c7c;
  }
  .nav-search-input::placeholder {
    color: #7c7c7c;
  }
  .nav-search-input:focus::-webkit-input-placeholder {
    color: transparent;
  }
  .nav-search-input:focus::-moz-placeholder {
    color: transparent;
  }
  .nav-search-input:focus:-ms-input-placeholder {
    color: transparent;
  }
  .nav-search-input:focus::placeholder {
    color: transparent;
  }
  .nav-search-btn {
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
        -ms-flex-order: -1;
            order: -1;
    width: 44px;
    background: #fff;
    border: none;
    -webkit-border-radius: 8px 0 0 8px;
            border-radius: 8px 0 0 8px;
  }
  .nav-search-btn:hover {
    background: #fff;
  }
  .nav-search-btn:hover svg {
    fill: #601dc0;
  }
  .nav-search-btn svg {
    fill: #000;
  }
  .main {
    padding: 100px 0;
  }
  .modal-success-wrap {
    width: 550px;
    padding: 40px 15px;
  }
  .modal-success-title {
    font-size: 30px;
  }
  .modal-success-icon {
    margin: 18px auto;
  }
  .modal-success-subtitle {
    max-width: 293px;
    font-size: 20px;
    line-height: 1.2;
  }
  .modal-success-close {
    top: -30px;
    right: -30px;
    width: 20px;
    height: 20px;
  }
}

@media only screen and (min-width: 1110px) {
  .container {
    max-width: 1200px;
    padding: 0 140px;
    margin: 0;
  }
  .head-notify, .head-mail {
    display: none;
  }
}

@media only screen and (min-width: 1270px) {
  .head-tools {
    width: 190px;
  }
  .head-notify, .head-mail {
    display: block;
  }
}

@media only screen and (min-width: 1441px) {
  .container {
    max-width: 1064px;
    padding: 0 72px;
    margin: 0 auto;
  }
  .head-tools {
    width: 260px;
  }
}

@media only screen and (max-width: 374px) {
  .nav {
    padding: 0 15px 55px;
  }
  .nav-head {
    padding: 8px 0 32px;
  }
  .nav-head:after {
    bottom: -37px;
  }
  .nav-head.is-active + .nav-overflow .nav-search {
    margin: 10.5px 0 0;
  }
  .nav-head-back {
    bottom: -37px;
  }
  .nav-overflow {
    height: -webkit-calc((var(--vh, 1vh) * 100) - 119px);
    height: calc((var(--vh, 1vh) * 100) - 119px);
  }
  .nav-menu-link {
    height: 37px;
    font-size: 12px;
    padding: 13px 0 12px;
  }
  .nav-menu-back {
    padding: 13px 0 12px 40px;
  }
  .nav-menu-arrow {
    top: -webkit-calc(50% - (20px / 2));
    top: calc(50% - (20px / 2));
    width: 20px;
    height: 20px;
  }
  .nav-menu-arrow svg {
    width: 10px;
    height: 10px;
  }
  .nav-search {
    margin: 14.5px 0 0;
  }
  .nav-search-form {
    height: 34px;
  }
  .nav-search-btn {
    width: 34px;
  }
  .nav-search-btn svg {
    width: 15px;
    height: 15px;
  }
  .toolbar {
    bottom: -40px;
    height: 40px;
  }
  .toolbar-list {
    padding: 4px 0;
  }
  .toolbar-list-item:nth-child(1) .toolbar-list-icon, .toolbar-list-item:nth-child(5) .toolbar-list-icon {
    width: 13.5px;
    height: 13.5px;
  }
  .toolbar-list-item:nth-child(4) .toolbar-list-icon {
    width: 14px;
    height: 14px;
  }
  .toolbar-list-link {
    font-size: 8px;
    font-weight: 700;
  }
  .toolbar-list-icon {
    width: 16px;
    height: 16px;
  }
  .toolbar-list-icon svg {
    width: 15px;
    width: 15px;
  }
  .toolbar-list-text {
    height: 10px;
    margin: 3px 0 0;
  }
}

/* -- End Responsive -- */
